{% if checked is not defined %}
  {% if entity.labelPrinted %}
    {% set checked = "" %}
  {% else %}
    {% set checked = "checked" %}
  {% endif %}
{% endif %}

{% if not (checkbox is defined and checkbox == false) %}
<td><input type="checkbox" id="select_items_{{ entity.id }}" 
           name="select[items][{{ entity.id }}]"
           value="{{ entity.id }}" {{ checked }} /></td>
{% endif %}
<td>{{ l.link(entity, 'vib_flies_crossvial_show', false) }}</td>
<td>{{ l.link(entity.virgin, 'vib_flies_vial_show') }}</td>
<td>{{ entity.virginName }}</td>
<td>{{ l.link(entity.male, 'vib_flies_vial_show') }}</td>
<td>{{ entity.maleName }}</td>
<td>{{ entity.setupDate | date("d-m-Y") }}</td>
<td>{{ entity.flipDate | date("d-m-Y") }}</td>
<td>{{ l.link(entity.parent, 'vib_flies_crossvial_show') }}</td>
<td>{{ l.vialStatus(entity) }}</td>
