{% extends "VIBFliesBundle:CrossVial:show.html.twig" %}
{% use "VIBBaseBundle:Show:modal.html.twig" %}
{% import "VIBBaseBundle:Macros:show.html.twig" as s %}
{% import 'VIBBaseBundle:Macros:status.html.twig' as status %}

{% block modal_header %}
  Cross statistics<br/>
  <span class="muted">{{ cross.name }}</span>
{% endblock modal_header %}

{% block modal_body %}
  {% set ongoing_fraction = ((ongoing|length)/(total|length) * 100)|number_format(2) %}
  {% set success_fraction = ((success|length)/(total|length) * 100)|number_format(2) %}
  {% set fail_fraction = ((fail|length)/(total|length) * 100)|number_format(2) %}
  {% set sterile_fraction = ((sterile|length)/(total|length) * 100)|number_format(2) %}
  <div class="progress">
    <div class="bar" title="ongoing" style="width: {{ ongoing_fraction }}%;"></div>
    <div class="bar bar-success" title="successful" style="width: {{ success_fraction }}%;"></div>
    <div class="bar bar-warning" title="failed" style="width: {{ fail_fraction }}%;"></div>
    <div class="bar bar-danger" title="sterile" style="width: {{ sterile_fraction }}%;"></div>
  </div>
  {{ _self.vials('Total crosses',total,'vib_flies_crossvial_show') }}
  <div class="control-group">
    <span class="control-label">Temperatures</span>
    <div class="controls">
      <div class="input-text input-block-level">
        {% for temp in temps %}
          {{ status.temperature(temp) }}
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="control-group">
    <a class="control-label collapse-toggle" data-toggle="collapse" href="#vials">
      <strong>Details</strong></a>
  </div>
  <div id="vials" class="collapse">
    {{ _self.vials('Ongoing crosses',ongoing,'vib_flies_crossvial_show',ongoing_fraction,'info') }}
    {{ _self.vials('Successful crosses',success,'vib_flies_crossvial_show',success_fraction,'success') }}
    {{ _self.vials('Failed crosses',fail,'vib_flies_crossvial_show',fail_fraction,'warning') }}
    {{ _self.vials('Sterile crosses',sterile,'vib_flies_crossvial_show',sterile_fraction,'error') }}
  </div>
  <div class="control-group">
    <a class="control-label collapse-toggle" data-toggle="collapse" href="#child">
      <strong>Stocks and crosses</strong></a>
  </div>
  <div id="child" class="collapse">
    {{ s.list("Stocks", stocks, 'vib_flies_stock_show', null, 'stock') }}
    {{ s.list("Crosses", crosses, 'vib_flies_crossvial_show', null, 'vial') }}
  </div>
{% endblock modal_body %}

{% block modal_footer %}
  <a href="{{ path('vib_flies_crossvial_list') }}" class="btn">List</a>
{% endblock modal_footer %}

{% macro vials(label,items,route,fraction,color) %}
{% set uuid = random() ~ '_' ~ 'vials'  %}
<div class="control-group">
  <a class="control-label collapse-toggle" data-toggle="collapse" href="#{{ uuid }}">{{ label }}</a>
  <div class="controls">
    <span class="input-text input-block-level{% if color is not empty %} text-{{ color }}{% endif %}">
      <strong>{{ items | length }}</strong>
      {% if fraction is not empty %}
        ({{ fraction }}%)
      {% endif %}
    </span>
    <ul id="{{ uuid }}" class="collapse unstyled input-text">
    {% for item in items %}
      <li>{% spaceless %}
        {% if is_granted('ROLE_ADMIN') or is_granted('VIEW',item) %}
            {% set uuid = random() ~ '_' ~ item.id  %}
            <span class="popover-trigger" id="span_{{ uuid }}"
                  data-placement="bottom" data-container="#span_{{ uuid }}"
                  data-delay="500" data-link="{{ path('vib_flies_ajax_popover')}}"
                  data-type="vial" data-id="{{ item.id }}">
              <a href="{{ path(route, { 'id': item.id }) }}">{{ item }}</a>
            </span>
        {% else %}{{ item }}{% endif %}
        {% endspaceless %}</li>
    {% endfor %}
    </ul>
  </div>
</div>
{% endmacro %}
