<form id="search-form" action="{{ path('vib_flies_search_result') }}" method="post" {{ form_enctype(form) }} class="navbar-form form-search pull-right visible-desktop">
  <div class="input-append">
    {{ form_widget(form.query) }}
    <div class="btn-group">
      <button class="btn" onclick="$('#search-form').submit();">
        <i class="icon-search"></i>
      </button>
      <button class="btn dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu pull-right">
        <li><a href="#" onclick="$('#search_form_filter').val('stocks'); $('#search-form').submit();">Search stocks</a></li>
        <li><a href="#" onclick="$('#search_form_filter').val('crosses'); $('#search-form').submit();">Search crosses</a></li>
      </ul>
    </div>
  </div>
  {{ form_rest(form) }}
</form>
{% form_theme form _self %} 
{% block form_widget_compound %}{{ form_rest(form) }}{% endblock form_widget_compound %}
{% block form_row %}{{ form_widget(form) }}{% endblock %}
