<td>{{ l.link(entity, 'vib_antibody_antibody_show', false, entity.id) }}</td>
<td>{{ entity.antigen }}</td>
<td>{{ entity.targetSpecies }}</td>
<td>{{ entity.hostSpecies }}</td>
<td>{{ entity.order|capitalize }} {{ entity.type }} {{ entity.class }}</td>
