{% macro tr_row(field) %}
<tr>
    <th>{{ form_label(field) }}</th>
    <td>{{ form_widget(field) }}</td>
    <td colspan="2">{{ form_errors(field) }}</td>
</tr>
{% endmacro %}

{% macro tr_vrow(field, value, javascript) %}
<tr>
    <th>{{ form_label(field) }}</th>
    <td>
        {{ form_widget(field) }}
        <input id="v_ajax_{{field.vars.name}}" type="text" value="" onchange="{{ javascript }}" />
    </td>
    <td id="v_ajax_{{field.vars.name}}_data">
        {% if value is not empty %}{{ value.name }}{% endif %}
    </td>
    <td>{{ form_errors(field) }}</td>
</tr>
{% endmacro %}

{% macro tr_crow(field, name_field, value, javascript) %}
<tr>
    <th>{{ form_label(field) }}</th>
    <td>
        {{ form_widget(field) }}
        <input id="v_ajax_{{field.vars.name}}" type="text" value="" onchange="{{ javascript }}" />
    </td>
    <td id="v_ajax_{{field.vars.name}}_data">
    {% if value is not empty %}
        {% if value.stock is not empty %}
            {{ value.stock.name }}
        {% elseif value.cross is not empty %}
            {{ value.cross.name }}
        {% endif %}
        ({{ value.name }})
    {% endif %}
    </td>
    <td>{{ form_errors(field) }}</td>
</tr>
<tr id="v_ajax_{{field.vars.name}}_name">
    <th>{{ form_label(name_field) }}</th>
    <td>{{ form_widget(name_field) }}</td>
    <td colspan="2">{{ form_errors(name_field) }}</td>
</tr>
{% endmacro %}
