<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        {% stylesheets '@VIBFliesBundle/Resources/public/css/*' filter='yui_css' %}
            <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% block javascripts %}
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript"></script>
            <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
        {% endblock %}
        {% javascripts '@VIBFliesBundle/Resources/public/js/*' filter='yui_js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <title>{% block title %}VIB/KULeuven LabDB{% endblock %}</title>
    </head>
    <body>
        <nav id="navigation">
            {% block navigation %}
                {% spaceless %}
                <a href="/app_dev.php/">Home</a>
                <a href="{{ path('flystock_list') }}">Stocks</a>
                <a href="{{ path('flycross_list', { 'filter': 'cross' }) }}">Crosses</a>
                <a href="{{ path('flyvial_list') }}">Vials</a>
                {% if app.user.username is defined %}
                    <a id="logout" href="{{ path('logout') }}">Logout ({{ app.user.username }})</a>
                {% endif %}
                {% endspaceless %}
            {% endblock %}
        </nav>
        {% block content %}
        {% endblock %}
    </body>
</html>
