<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        {% block javascripts %}
            {% javascripts
                    'vendor/jquery/js/jquery-1.7.js'
                    'vendor/jquery-ui/js/jquery-ui-1.8.16.min.js'
                    'vendor/jquery-ui/js/jquery.ui.selectmenu-1.2.0.js'
                    'vendor/jquery-ui/js/jquery.ui.checkbox.js'
                    '@VIBFliesBundle/Resources/public/js/*'
                filter='yui_js' %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
        {% block stylesheets %}
            {% stylesheets
                    'vendor/jquery-ui/css/smoothness/jquery-ui-1.8.16.css'
                    'vendor/jquery-ui/css/jquery.ui.selectmenu.css'
                    'vendor/jquery-ui/css/jquery.ui.checkbox.css'
                    '@VIBFliesBundle/Resources/public/css/*'
                filter='cssrewrite,yui_css' %}
                <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
                
        <title>{% block title %}VIB/KULeuven LabDB{% endblock %}</title>
    </head>
    <body>
        <nav id="navigation" class="top ui-widget ui-state-default">
            {% block navigation %}
                {% spaceless %}
                <a href="/app_dev.php/">Home</a>
                <a href="{{ path('flystock_list') }}">Stocks</a>
                <a href="{{ path('flycross_list', { 'filter': 'cross' }) }}">Crosses</a>
                <a href="{{ path('flyvial_list') }}">Vials</a>
                {% if app.user.username is defined %}
                    <a id="logout" href="{{ path('logout') }}">Logout ({{ app.user.username }})</a>
                {% endif %}
                {% endspaceless %}
            {% endblock %}
        </nav>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
