<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        {% block javascripts %}
            {% javascripts
                    'vendor/jquery/js/jquery-1.7.js'
                    'vendor/jquery-ui/js/ui-core/jquery.effects.core.js'
                    'vendor/jquery-ui/js/ui-core/jquery.ui.core.js'
                    'vendor/jquery-ui/js/ui-core/jquery.ui.widget.js'
                    'vendor/jquery-ui/js/ui-core/jquery.ui.position.js'
                    'vendor/jquery-ui/js/ui-core/jquery.ui.mouse.js'
                    'vendor/jquery-ui/js/ui-core/jquery.ui.menu.js'
                    'vendor/jquery-ui/js/ui-effects/*.js'
                    'vendor/jquery-ui/js/ui-widgets/*.js'
                    '@VIBFliesBundle/Resources/public/js/*'
                %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
        {% block stylesheets %}
            {% stylesheets
                    'vendor/jquery-ui/css/jquery.ui.all.css'
                    'vendor/jquery-ui/css/jquery.ui.selectmenu.css'
                    'vendor/jquery-ui/css/jquery.ui.checkbox.css'
                    '@VIBFliesBundle/Resources/public/css/*'
                filter='cssrewrite,yui_css' %}
                <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
                
        <title>{% block title %}VIB/KULeuven LabDB{% endblock %}</title>
    </head>
    <body>
        <nav id="navigation" class="top ui-widget ui-state-default">
            {% block navigation %}
                {% spaceless %}
                <ul>
                    <li><a href="/app_dev.php/">Home</a></li>
                    <li><a href="{{ path('flystock_list') }}">Stocks</a></li>
                    <li><a href="{{ path('flycross_list', { 'filter': 'cross' }) }}">Crosses</a></li>
                    <li><a href="{{ path('flyvial_list') }}">Vials</a></li>
                {% if app.user.username is defined %}
                    <li id="logout"><a href="{{ path('logout') }}">Logout ({{ app.user.username }})</a></li>
                    {% render "VIBFliesBundle:Search:search" %}
                {% endif %}
                {% endspaceless %}
                </ul>
            {% endblock %}
        </nav>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
