<tr>
    <td class="ui-state-default">
        <input type="checkbox" id="FlyVialSelectType_items_{{ vial.id }}" 
               name="FlyVialSelectType[items][{{ vial.id }}]" 
               value="{{ vial.id }}" checked="checked" />
    </td>
    <td class="ui-state-default"><a href="{{ path('flyvial_show', { 'id': vial.id }) }}">
        {{ vial }}</a></td>
    <td class="ui-state-default">{% if vial.stock is not empty %}
        <a href="{{ path('flystock_show', { 'id': vial.stock.id }) }}">{{ vial.stock }}</a>
        {% endif %}</td>
    <td class="ui-state-default">{{ vial.setupDate | date("d M Y") }}</td>
    <td class="ui-state-default">{{ vial.flipDate | date("d M Y") }}</td>
    <td class="ui-state-default">{% if vial.parent is not empty %}
        <a href="{{ path('flyvial_show', { 'id': vial.parent.id }) }}">
        {{ vial.parent }}
        </a>
        {% endif %}</td>
    <td class="ui-state-default">{% if vial.trashed %}
        <span style="color: black;">TRASHED</span>
        {% elseif vial.alive %}
        <span style="color: green;">ALIVE</span>
        {% else %}
        <span style="color: red;">DEAD</span>
        {% endif %}

    </td>
</tr>
