{% extends "VIBBaseBundle:List:table.html.twig" %}

{% block headline %}Stocks{% endblock headline %}

{% block list_header %}
  <th style="width: 50px;">ID</th>
  <th>Name</th>
  <th>Source cross</th>
  <th style="width: 50px;">Vials</th>
  <th style="width: 100px;">Status</th>
{% endblock list_header %}

{% block list_item %}
  <td>{{ l.link(entity, 'vib_flies_stock_show', false, 'id') }}</td>
  <td>{{ l.link(entity, 'vib_flies_stock_show', false) }}</td>
  <td>{{ l.link(entity.sourceCross, 'vib_flies_crossvial_show', true, 'name') }}</td>
  <td>{{ entity.livingVials | length }}</td>
  <td>{{ l.stockStatus(entity) }}</td>
{% endblock list_item %}

{% block list_buttons %}
  <a href="{{ path('vib_flies_stock_create') }}" class="btn btn-primary">New</a>
  <a href="{{ path('vib_flies_vial_expand') }}" class="btn">Expand</a>
{% endblock list_buttons %}
