<td>{{ l.link(entity, 'vib_flies_stock_show', false, 'id') }}</td>
<td>{{ l.link(entity, 'vib_flies_stock_show', false) }}</td>
<td>{{ l.link(entity.sourceCross, 'vib_flies_crossvial_show', true, 'name', 'vial') }}</td>
<td>{{ entity.livingVials | length }}</td>
<td>{{ l.stockStatus(entity) }}</td>
