<td>{{ l.link(entity, 'vib_flies_stock_show', false, entity.id) }}</td>
<td>{{ l.link(entity, 'vib_flies_stock_show', false, null, 'stock') }}</td>
<td>{{ entity.genotype }}</td>
{% if entity.sourceCross is not empty %}
  {% set sourceCrossName = entity.sourceCross.name %}
{% else %}
  {% set sourceCrossName = null %}
{% endif %}
<td>{{ l.link(entity.sourceCross, 'vib_flies_crossvial_show', true, sourceCrossName, 'vial') }}</td>
<td>{{ entity.livingVialsCount }}</td>
<td>{{ status.stock(entity) }}</td>
