{% extends "VIBBaseBundle:List:table.html.twig" %}

{% block headline %}Stocks{% endblock headline %}

{% block list_header %}
  <th style="width: 50px;">ID</th>
  <th>Name</th>
  <th>Source cross</th>
  <th style="width: 50px;">Vials</th>
  <th style="width: 100px;">Status</th>
{% endblock list_header %}

{% block list_item %}
  <td><a href="{{ path('vib_flies_stock_show', { 'id': entity.id }) }}">
      {{ entity.id }}</a>
  </td>
  <td><a href="{{ path('vib_flies_stock_show', { 'id': entity.id }) }}">
      {{ entity.name }}</a>
  </td>
  <td>{% if entity.sourceCross is not empty %}
      <a href="{{ path('vib_flies_vial_show', { 'id': entity.sourceCross.id }) }}">
        {{ entity.sourceCross.crossName }}</a>
      {% endif %}
  </td>
  <td>{{ entity.livingVials | length }}</td>
  <td>{% if entity.livingVials | length > 3 %}
      <span class="label label-success">Amplified</span>
      {% elseif entity.livingVials | length > 1 %}
      <span class="label label-success">Healthy</span>
      {% elseif entity.livingVials | length < 1 %}
      <span class="label label-important">Dead</span>
      {% else %}
      <span class="label label-warning">Expand</span>
      {% endif %}
  </td>
{% endblock list_item %}

{% block list_buttons %}
  <a href="{{ path('vib_flies_stock_create') }}" class="btn btn-primary">New</a>
  <a href="{{ path('vib_flies_vial_expand') }}" class="btn">Expand</a>
{% endblock list_buttons %}
