{% extends "VIBFliesBundle:Stock:layout.html.twig" %}
{% use "VIBBaseBundle:Show:modal.html.twig" %}
{% import "VIBBaseBundle:Macros:show.html.twig" as s %}
{% import 'VIBBaseBundle:Macros:status.html.twig' as status %}

{% block modal_header %}
  Stock {{ entity }}
  {{ status.stock(entity) }}
{% endblock modal_header %}

{% block modal_body %}
  {{ s.row("Genotype", entity.genotype) }}
  {{ s.row("Source cross", entity.sourceCross , 'vib_flies_crossvial_show', null, 'vial') }}
  {{ _self.vials("Vials", entity.livingVials, 'vib_flies_stockvial_show') }}
  {{ s.user("Created by", owner) }}
  {{ s.row("Notes", entity.notes) }}
  <div class="control-group">
    <a class="control-label collapse-toggle" data-toggle="collapse" href="#more"><strong>More information</strong></a>
  </div>
  <div id="more" class="collapse">
    {{ s.row("Vendor", entity.vendor) }}
    <div class="control-group">
      <span class="control-label">Stock information</span>
      <div class="controls">
        <span class="input-text">
          {% if entity.infoURL is not empty %}
            <a href="{{ entity.infoURL }}" target="_blank">{{ entity.infoURL }}</a>
          {% endif %}
        </span>
      </div>
    </div>
    <div class="control-group">
      <span class="control-label">Verified</span>
      <div class="controls">
        <span class="input-text">
          {% if entity.verified %}
             <i class="icon-ok text-success"></i> Yes
          {% else %}
             <i class="icon-remove text-error"></i> No
          {% endif %}
        </span>
      </div>
    </div>
  </div>
  <div class="control-group">
    <a class="control-label collapse-toggle" data-toggle="collapse" href="#myvials"><strong>My vials</strong></a>
  </div>
  <div id="myvials" class="collapse">
    {{ _self.vials('Small',small,'vib_flies_stockvial_show') }}
    {{ _self.vials('Medium',medium,'vib_flies_stockvial_show') }}
    {{ _self.vials('Large',large,'vib_flies_stockvial_show') }}
  </div>
{% endblock modal_body %}

{% block modal_footer %}
  {{ s.buttons(entity, 'vib_flies_stock') }}
{% endblock modal_footer %}

{% macro vials(label,items,route) %}
{% set uuid = random() ~ '_' ~ 'vials'  %}
<div class="control-group">
  <a class="control-label collapse-toggle" data-toggle="collapse" href="#{{ uuid }}">{{ label }}</a>
  <div class="controls">
    <span class="input-text input-block-level">
      <strong>{{ items | length }}</strong>
    </span>
    <ul id="{{ uuid }}" class="collapse unstyled input-text">
    {% for item in items %}
      <li>{% spaceless %}
        {% if is_granted('ROLE_ADMIN') or is_granted('VIEW',item) %}
            {% set uuid = random() ~ '_' ~ item.id  %}
            <span class="popover-trigger" id="span_{{ uuid }}"
                  data-placement="bottom" data-container="#span_{{ uuid }}"
                  data-delay="500" data-link="{{ path('vib_flies_ajax_popover')}}"
                  data-type="vial" data-id="{{ item.id }}">
              <a href="{{ path(route, { 'id': item.id }) }}">{{ item }}</a>
            </span>
        {% else %}{{ item }}{% endif %}
        {% endspaceless %}</li>
    {% endfor %}
    </ul>
  </div>
</div>
{% endmacro %}
