{% extends "VIBFliesBundle:Stock:layout.html.twig" %}
{% use "VIBBaseBundle:Show:modal.html.twig" %}
{% import "VIBBaseBundle:Macros:show.html.twig" as s %}
{% import 'VIBBaseBundle:Macros:status.html.twig' as status %}

{% block modal_header %}
  Stock {{ entity }}
  {{ status.stock(entity) }}
{% endblock modal_header %}

{% block modal_body %}
  {{ s.row("Genotype", entity.genotype) }}
  {{ s.row("Source cross", entity.sourceCross , 'vib_flies_crossvial_show', null, 'vial') }}
  {{ s.user("Created by", owner) }}
  {{ s.row("Notes", entity.notes) }}
  <div class="control-group">
    <a class="control-label collapse-toggle" data-toggle="collapse" href="#more"><strong>More information</strong></a>
  </div>
  <div id="more" class="collapse">
    {{ s.row("Vendor", entity.vendor) }}
    <div class="control-group">
      <span class="control-label">Stock information</span>
      <div class="controls">
        <span class="input-text">
          {% if entity.infoURL is not empty %}
            <a href="{{ entity.infoURL }}" target="_blank">{{ entity.infoURL }}</a> 
          {% endif %}
        </span>
      </div>
    </div>
    <div class="control-group">
      <span class="control-label">Verified</span>
      <div class="controls">
        <span class="input-text">
          {% if entity.verified %}
             <i class="icon-ok text-success"></i> Yes
          {% else %}
             <i class="icon-remove text-error"></i> No
          {% endif %}
        </span>
      </div>
    </div>
  </div>
  <div class="control-group">
    <a class="control-label collapse-toggle" data-toggle="collapse" href="#vials"><strong>Vials</strong></a>
  </div>
  <div id="vials" class="collapse">
    {{ s.list("Alive", entity.livingVials, 'vib_flies_stockvial_show', null, 'vial') }}
  </div>
{% endblock modal_body %}

{% block modal_footer %}
  {{ s.buttons(entity, 'vib_flies_stock') }}
{% endblock modal_footer %}
