{% import 'VIBFliesBundle:Macros:form.html.twig' as f %}
{% import 'VIBFliesBundle:Macros:jquery.html.twig' as jq %}

<form action="{{ app.request.requestUri }}"
      method="post" {{ form_enctype(form) }}>

    {{ form_errors(form) }}

    <table class="data">
        {{ f.tr_row(form.name) }}
        {{ f.tr_vrow(form.source_cross, stock.sourceCross, 'getVial(this)') }}
    </table>
    
    {{ form_rest(form) }}
    
    {{ jq.button('Cancel',path('flystock_show', { 'id': stock.id }),'ui-icon-closethick') }}
    {{ jq.button('Reset',app.request.requestUri,'ui-icon-refresh') }}
    {{ jq.submit_button('Save','ui-icon-disk') }}
</form>
