{% extends "VIBFliesBundle::layout.html.twig" %}
{% import 'VIBFliesBundle:Macros:jquery.html.twig' as jq %}
{% import 'VIBFliesBundle:Macros:show.html.twig' as s %}

{% block content %}
    <h1>Stock {{ stock }}</h1>
    
    <table class="data">
        {{ s.tr_arow("Source cross:", stock.sourceCross, 'flycross_show') }}
        {{ s.tr_ldrow("Vials:", stock.livingVials, 'flyvial_show') }}
    </table>

    {{ jq.button('List',path('flystock_list'),'ui-icon-folder-collapsed') }}    
    {{ jq.button('New',path('flystock_create'),'ui-icon-document') }}
    {{ jq.button('Edit',path('flystock_edit', { 'id': stock.id }),'ui-icon-pencil') }}
    {{ jq.button('Delete',path('flystock_delete', { 'id': stock.id }),'ui-icon-trash') }}
{% endblock %}
