{% extends "VIBSiteTemplateBundle::layout.html.twig" %}

{% block headline %}Stock vials{% endblock headline %}

{% block content_sidebar %}
<ul class="nav nav-list well">
  <li class="nav-header">My stock vials</li>
  <li><a href="{{ path('vib_flies_stockvial_list') }}">Alive</a></li>
  <li><a href="{{ path('vib_flies_stockvial_list_1',{ 'filter': 'trashed' }) }}">Trashed</a></li>
  <li><a href="{{ path('vib_flies_stockvial_list_1',{ 'filter': 'dead' }) }}">Dead</a></li>
  <li class="nav-header">Public stock vials</li>
  <li><a href="{{ path('vib_flies_stockvial_list_1',{ 'filter': 'public' }) }}">Alive</a></li>
  <li><a href="{{ path('vib_flies_stockvial_list_1',{ 'filter': 'all' }) }}">All</a></li>
  <li class="nav-header">Actions</li>
  <li><a href="{{ path('vib_flies_stockvial_select') }}">Select vials</a></li>
  <li><a href="{{ path('vib_flies_stockvial_expand') }}">Expand vial</a></li>
  <li><a href="{{ path('vib_flies_vial_give') }}">Give vial</a></li>
</ul>
{% endblock content_sidebar %}
