{% if checked is not defined %}
  {% if entity.labelPrinted %}
    {% set checked = "" %}
  {% else %}
    {% set checked = "checked" %}
  {% endif %}
{% endif %}

<td><input type="checkbox" id="select_items_{{ entity.id }}" 
           name="select[items][{{ entity.id }}]" 
           value="{{ entity.id }}" {{ checked }}/></td>
<td>{{ l.link(entity, 'vib_flies_stockvial_show', false, null, 'vial') }}</td>
<td>{{ l.link(entity.stock, 'vib_flies_stock_show', true, null, 'stock') }}</td>
<td class="dates">
  <div>{{ entity.setupDate | date("d‑m‑Y") }}</div>
  <div>{{ entity.realFlipDate | date("d‑m‑Y") }}</div>
</td>
<td>{{ l.link(entity.parent, 'vib_flies_stockvial_show', true, null, 'vial') }}</td>
<td>{{ status.vial(entity) }}</td>
