<td><input type="checkbox" id="select_items_{{ entity.id }}" 
           name="select[items][{{ entity.id }}]" 
           value="{{ entity.id }}" /></td>
<td>{{ l.link(entity, 'vib_flies_stockvial_show', false) }}</td>
<td>{{ l.link(entity.stock, 'vib_flies_stock_show') }}</td>
<td>{{ entity.setupDate | date("d F Y") }}</td>
<td>{{ entity.flipDate | date("d F Y") }}</td>
<td>{{ l.link(entity.parent, 'vib_flies_stockvial_show') }}</td>
<td>{{ l.vialStatus(entity) }}</td>
