{% extends "VIBBaseBundle:List:table.html.twig" %}

{% block headline %}Stock vials{% endblock headline %}

{% block list_selector %}
  {{ form_errors(form) }}
  {{ form_rest(form) }}
{% endblock list_selector %}

{% block list_header %}
  <th style="width: 12px;"><input type="checkbox" id="checkall" checked="checked"></th>
  <th style="width: 100px;">ID</th>
  <th>Stock</th>
  <th style="width: 150px;">Setup date</th>
  <th style="width: 150px;">Flip date</th>
  <th style="width: 100px;">Flipped from</th>
  <th style="width: 100px;">Status</th>
{% endblock list_header %}

{% block list_item %}
  <td><input type="checkbox" id="select_items_{{ entity.id }}" 
             name="select[items][{{ entity.id }}]" 
             value="{{ entity.id }}" checked="checked" /></td>
  <td>{{ l.link(entity, 'vib_flies_stockvial_show', false) }}</td>
  <td>{{ l.link(entity.stock, 'vib_flies_stock_show') }}</td>
  <td>{{ entity.setupDate | date("d F Y") }}</td>
  <td>{{ entity.flipDate | date("d F Y") }}</td>
  <td>{{ l.link(entity.parent, 'vib_flies_stockvial_show') }}</td>
  <td>{{ l.vialStatus(entity) }}</td>
{% endblock list_item %}

{% block list_buttons %}
  <a href="{{ path('vib_flies_stockvial_expand') }}" class="btn">Expand</a>
  <a href="#" class="btn">Select</a>
  <button type="submit" class="btn" onclick="$('#select_action').val('flip'); $('form').submit();">
    Flip</button>
  <button type="submit" class="btn" onclick="$('#select_action').val('trash'); $('form').submit();">
    Trash</button>
  <button type="submit" class="btn" onclick="$('#select_action').val('label'); $('form').submit();">
    Print labels</button>
{% endblock list_buttons %}
