{% extends "VIBFliesBundle:StockVial:layout.html.twig" %}
{% use "VIBSiteTemplateBundle:Show:modal.html.twig" %}
{% import "VIBSiteTemplateBundle:Macros:show.html.twig" as s %}
{% import 'VIBSiteTemplateBundle:Macros:status.html.twig' as status %}

{% block modal_header %}
  Stock vial {{ entity }}
  {{ status.vial(entity) }}
{% endblock modal_header %}

{% block modal_body %}
  {{ s.row("Setup date", entity.setupDate | date("d F Y")) }}
  {{ s.row("Flip date", entity.realFlipDate | date("d F Y")) }}
  {{ s.row("Stock", entity.stock, 'vib_flies_stock_show', null, 'stock', entity.stock.genotype) }}
  <div class="control-group">
    <a class="control-label collapse-toggle" data-toggle="collapse" href="#more"><strong>More information</strong></a>
  </div>
  <div id="more" class="collapse">
    {{ s.row("Location", entity.location) }}
    {{ s.user("Created by", owner) }}
    {{ s.row("Notes", entity.notes) }}
  </div>
  <div class="control-group">
    <a class="control-label collapse-toggle" data-toggle="collapse" href="#development">
      <strong>Development</strong></a>
  </div>
  <div id="development" class="collapse">
    {{ s.row("Generation", entity.progress // 1 + 1 ) }}
    {{ s.stage(entity) }}
    {{ s.development(entity) }}
  </div>
  <div class="control-group">
    <a class="control-label collapse-toggle" data-toggle="collapse" href="#vials"><strong>Vials</strong></a>
  </div>
  <div id="vials" class="collapse">
    {{ s.row("Flipped from", entity.parent, 'vib_flies_stockvial_show', null, 'vial') }}
    {{ s.list("Flipped to", entity.children, 'vib_flies_stockvial_show', null, 'vial') }}
  </div>
{% endblock modal_body %}

{% block modal_footer %}
  {% if is_granted('ROLE_ADMIN') or is_granted('EDIT',entity) %}
  <a href="{{ path('vib_flies_stockvial_edit', { 'id': entity.id }) }}" class="btn btn-primary">Edit</a>
  {% endif %}
  <a href="{{ path('vib_flies_stockvial_list') }}" class="btn">List</a>
{% endblock modal_footer %}
