{% if class is not empty %}
    {% set td = 'td class=ui-state-default' %}
{% else %}
    {% set td = 'td' %}
{% endif %}

<tr id="cross_{{ cross.id }}">
    {% if checkbox is not empty %}
    <{{td}}>
        <label>
        <input type="checkbox" id="FlyCrossSelectType_items_{{ cross.vial.id }}" 
               name="FlyCrossSelectType[items][{{ cross.id }}]" 
               value="{{ cross.id }}" checked="checked" />
        </label>
    </td>
    {% endif %}
    <{{td}}>{% if cross.vial is not empty %}
        <a href="{{ path('flycross_show', { 'id': cross.id }) }}">{{ cross.vial }}</a>
        {% endif %}
    </td>
    <{{td}}>{{ cross.virginName }}</td>
    <{{td}}><a href="{{ path('flyvial_show', { 'id': cross.virgin.id }) }}">{{ cross.virgin }}</a></td>
    <{{td}}>{{ cross.maleName }}</td>
    <{{td}}><a href="{{ path('flyvial_show', { 'id': cross.male.id }) }}">{{ cross.male }}</a></td>
    <{{td}}>{% if cross.vial is not empty %}{{ cross.vial.setupDate | date("d M Y") }}{% endif %}</td>
    <{{td}}>{% if cross.vial is not empty %}{{ cross.vial.flipDate | date("d M Y") }}{% endif %}</td>
    <{{td}}>{% if cross.vial is not empty %}
        {% if cross.vial.trashed %}
            <span style="color: black;">TRASHED</span>
            {% elseif cross.vial.alive %}
            <span style="color: green;">ALIVE</span>
            {% else %}
            <span style="color: red;">DEAD</span>
        {% endif %}
        {% endif %}
    </td>
</tr>

