{% extends "VIBFliesBundle::layout.html.twig" %}
{% import 'VIBFliesBundle:Macros:form.html.twig' as f %}
{% import 'VIBFliesBundle:Macros:jquery.html.twig' as jq %}

{% block content %}
<h1>New cross</h1>

<form action="{{ app.request.requestUri }}"
      method="post" {{ form_enctype(form) }}>

    {{ form_errors(form) }}
    
    <table class="data">
        {{ f.tr_crow(form.cross.virgin, form.cross.virginName, cross.virgin, 'getVial(this)') }}
        {{ f.tr_crow(form.cross.male, form.cross.maleName, cross.male, 'getVial(this)') }}
        {{ f.tr_row(form.cross.vial.setupDate) }}
        {{ f.tr_row(form.cross.vial.flipDate) }}
        {{ f.tr_nrow(form.number) }}
    </table>
    
    {{ form_rest(form) }}

    {{ jq.button('Cancel',path('flycross_list'),'ui-icon-closethick') }}
    {{ jq.button('Reset',app.request.requestUri,'ui-icon-refresh') }}
    {{ jq.submit_button('Save','ui-icon-disk') }}
</form>
{% endblock %}