{% extends "VIBFliesBundle::layout.html.twig" %}
{% import 'VIBFliesBundle:Macros:jquery.html.twig' as jq %}
{% import 'VIBFliesBundle:Macros:show.html.twig' as s %}

{% block content %}
<h1>{% block pheader %}Crosses{% endblock %}</h1>

<form action="{{ app.request.requestUri }}" method="post" {{ form_enctype(form) }}>

    {% block selector %}{% endblock %}
    
    {{ form_errors(form) }}
    {% if form.items | length < 1 %}
        {{ form_widget(form.items) }}
    {% endif %}

    <table id="vials" class="ui-table">
        <thead>
            <tr>
                <th><input type="checkbox" id="checkall" checked="checked"></th>
                <th>Vial</th>
                <th colspan="2">Virgin</th>
                <th colspan="2">Male</th>
                <th>Setup date</th>
                <th>Check date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
        {% for cross in crosses %}
            {% include 'VIBFliesBundle:FlyCross:_cross_row.html.twig' with {'cross': cross, 'class': null} %}
        {% endfor %}
        </tbody>
        {% block pager %}
        {% if pager.nbPages > 1 %}
        <tfoot>
            <tr>
                <td colspan="8">{{ s.pager(pager,'flycross_listpage') }}</td>
            </tr>
        </tfoot>
        {% endif %}
        {% endblock %}
    </table>
        
    {{ form_errors(form) }}
    {{ form_rest(form) }}

    {{ jq.button('New',path('flycross_create'),'ui-icon-document') }}    
    {% block actionbutton %}{{ jq.button('Select crosses',path('flycross_select'),'ui-icon-tag') }}{% endblock %}
    {{ jq.button('Reset',app.request.requestUri,'ui-icon-refresh') }}
    {{ jq.submit_action_button(
            'Trash',
            "$('#FlyCrossSelectType_action').val('trash'); $('form').submit();",
            'ui-icon-trash') }}
    {{ jq.submit_action_button(
            'Print labels',
            "$('#FlyCrossSelectType_action').val('label'); $('form').submit();",
            'ui-icon-print') }}

</form>
{% endblock %}