{% block content %}
{% if form is defined %}
<form action="{{ app.request.requestUri }}" method="post" {{ form_enctype(form)}} class="select">
{% endif %}
<div class="span12">
  {% block list_selector %}{% endblock list_selector %}
  <table class="table table-striped table-bordered table-condensed" {% block table_attr %}{% endblock table_attr %}>
    <thead>
      <tr>{% block list_header %}{% endblock list_header %}</tr>
    </thead>
    <tbody>
    {% if entities is defined %}
      {% set order = 0 %}
      {% for entity in entities %}
        <tr>{% block list_item %}{% endblock list_item %}</tr>
        {% set order = order + 1 %}
      {% endfor %}
    {% endif %}
    </tbody>
  </table>
  {% block list_buttons %}{% endblock list_buttons %}
  {% block paginator %}
    {% if entities is defined %}{{ knp_pagination_render(entities) }}{% endif %}
  {% endblock paginator %}
</div>
{% if form is defined %}
{% block select_form %}
  {{ form_errors(form) }}
  {{ form_rest(form) }}
{% endblock select_form %}
</form>
{% endif %}
{% endblock %}
