{% extends "MpiCbgFliesBundle::layout.html.twig" %}

{% block content %}
<h1>{{ header }}</h1>
    
    <label>To select bottles, scan barcodes here: </label>
    <input id="barcode" type="text" value="" onchange="
               var parent = document.getElementById('bottle_' + barcode.value);
               var checkbox = parent.childNodes[1].childNodes[0];
               checkbox.checked = ! checkbox.checked;
               barcode.value = '';
               " />
    <br /><br />
    
    <form id="form" action="{{ app.request.requestUri }}" method="post" {{ form_enctype(form) }}>
        <input type="button" 
               value="Generate labels"
               onclick="collectionselector_action.value = 'label'; form.submit()" />
        <input type="button" 
               value="Flip bottles"
               onclick="collectionselector_action.value = 'flip'; form.submit()" />
        <input type="button" 
               value="Trash bottles"
               onclick="collectionselector_action.value = 'trash'; form.submit()" />
        <br /><br />
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>ID</th>
                    <th>Stock</th>
                    <th>Cross</th>
                    <th>Setup date</th>
                    <th>Flip date</th>
                    <th>Flipped from</th>
                </tr>
            </thead>
            <tbody>
            {% for key, item in form.items %}
                {% set bottleSelector = bottles.items[key] %}
                {% set bottle = bottleSelector.item %}
                <tr id="bottle_{{ bottle }}">
                    <td>{{ form_widget(item.selected) }}</td>
                    <td><a href="{{ path('culturebottle_show', { 'id': bottle.id }) }}">
                        {{ bottle }}</a></td>
                    <td>{% if bottle.stock is not empty %}
                        <a href="{{ path('flystock_show', { 'id': bottle.stock.id }) }}">{{ bottle.stock }}</a>
                        {% endif %}</td>
                    <td>{% if bottle.cross is not empty %}
                        <a href="{{ path('flycross_show', { 'id': bottle.cross.id }) }}">{{ bottle.cross }}</a>
                        {% endif %}</td>
                    <td>{{ bottle.setupDate | date("d.m.Y") }}</td>
                    <td>{{ bottle.flipDate | date("d.m.Y") }}</td>
                    <td>{% if bottle.parent is not empty %}
                        <a href="{{ path('culturebottle_show', { 'id': bottle.parent.id }) }}">
                        {{ bottle.parent }}
                        </a>
                        {% endif %}</td>
                    <td>{% if bottle.trashed %}
                        TRASHED
                        {% endif %}
                    
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ form_widget(form.action) }}
        {{ form_rest(form) }}
        <br />
        <input type="button" 
               value="Generate labels"
               onclick="collectionselector_action.value = 'label'; form.submit()" />
        <input type="button" 
               value="Flip bottles"
               onclick="collectionselector_action.value = 'flip'; form.submit()" />
        <input type="button" 
               value="Trash bottles"
               onclick="collectionselector_action.value = 'trash'; form.submit()" />
{% endblock %}