{% extends "MpiCbgFliesBundle::layout.html.twig" %}

{% block content %}
    <h1>Bottle {{ bottle }}</h1>
    {% if bottle.stock is not empty %}
    <p>Stock: <a href="{{ path('flystock_show', { 'id': bottle.stock.id }) }}">{{ bottle.stock }}</a></p>
    {% endif %}
    {% if bottle.cross is not empty %}
    <p>Cross: <a href="{{ path('flycross_show', { 'id': bottle.cross.id }) }}">{{ bottle.cross }}</a></p>
    {% endif %}
    {% if bottle.parent is not empty %}
    <p>Flipped from: <a href="{{ path('culturebottle_show', { 'id': bottle.parent.id }) }}">{{ bottle.parent }}</a></p>
    {% endif %}
    <p>Setup date: {{ bottle.setupDate | date("d.m.Y") }}</p>
    <p>Flip date: {{ bottle.flipDate | date("d.m.Y") }}</p>
    {% if bottle.children | length > 0 %}
        <p>Bottle has been flipped into the following bottles:</p>
        <ul>
        {% for child in bottle.children %}
            <li>
                <a href="{{ path('culturebottle_show', { 'id': child.id }) }}">{{ child }}</a>
                ({{ child.setupDate | date("d.m.Y") }})
            </li>
        {% endfor %}
        </ul>
    {% endif %}
    <p>
        {% if bottle.stock is not empty %}
            <a href="{{ path('culturebottle_list', { 'filter': 'stock' }) }}">List</a> |
        {% elseif bottle.cross is not empty %}
            <a href="{{ path('culturebottle_list', { 'filter': 'cross' }) }}">List</a> |
        {% else %}
            <a href="{{ path('culturebottle_list', { 'filter': 'cross' }) }}">List</a> |
        {% endif %}
        <a href="{{ path('culturebottle_create') }}">New</a> |
        <a href="{{ path('culturebottle_edit', { 'id': bottle.id }) }}">Edit</a> |
        <a href="{{ path('culturebottle_delete', { 'id': bottle.id }) }}">Delete</a></p>
{% endblock %}
