{% extends "MpiCbgFliesBundle::layout.html.twig" %}

{% block content %}
    <form action="{{ app.request.requestUri }}" method="post" {{ form_enctype(form) }}>
        <h1>Crosses</h1>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>ID</th>
                    <th>Bottle</th>
                    <th colspan="2">Virgin</th>
                    <th colspan="2">Male</th>
                    <th>Setup date</th>
                    <th>Check date</th>
                </tr>
            </thead>
            <tbody>
            {% for key, item in form.items %}
                {% set crossSelector = crosses.items[key] %}
                {% set cross = crossSelector.item %}
                <tr>
                    <td>{{ form_widget(item.selected) }}</td>
                    <td><a href="{{ path('flycross_show', { 'id': cross.id }) }}">
                        {{ cross.id }}</a></td>
                    <td><a href="{{ path('culturebottle_show', { 'id': cross.bottle.id }) }}">{{ cross.bottle }}</a></td>
                    <td>{{ cross.virginName }}</td>
                    <td><a href="{{ path('culturebottle_show', { 'id': cross.virgin.id }) }}">{{ cross.virgin }}</a></td>
                    <td>{{ cross.maleName }}</td>
                    <td><a href="{{ path('culturebottle_show', { 'id': cross.male.id }) }}">{{ cross.male }}</a></td>
                    <td>{{ cross.bottle.setupDate | date("d.m.Y") }}</td>
                    <td>{{ cross.bottle.flipDate | date("d.m.Y") }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </form>
{% endblock %}