{% macro vial(vial) %}{% spaceless %}
  <div class="status">
  {% if vial.trashed %}
    <span title="trashed" class="label status label-default"><i class="fa fa-trash-o"></i></span>
  {% elseif vial.alive %}
    <span title="alive" class="label status label-success"><i class="fa fa-heart"></i></span>
  {% else %}
    <span title="dead" class="label status label-danger"><i class="fa fa-times-circle"></i></span>
  {% endif %}
  {{ _self.temperature(vial.temperature) }}
  {% if vial.type == 'cross' %}
    {% if vial.successful %}
      <span title="successful" class="label status label-success"><i class="fa fa-check"></i></span>
    {% elseif vial.sterile %}
      <span title="sterile" class="label status label-danger"><i class="fa fa-times-circle"></i></span>
    {% elseif vial.successful is not null %}
      <span title="failed" class="label status label-warning"><i class="fa fa-times"></i></span>
    {% endif %}
  {% endif %}
  </div>
{% endspaceless %}{% endmacro %}

{% macro stock(stock) %}{% spaceless %}
  <div class="status">
  {% if stock.livingVials | length > 3 %}
    <span title="amplified" class="label status label-success"><i class="fa fa-plus-circle"></i></span>
    {% elseif stock.livingVials | length > 1 %}
    <span title="healthy" class="label status label-success"><i class="fa fa-check-circle"></i></span>
    {% elseif stock.livingVials | length < 1 %}
    <span title="dead" class="label status label-danger"><i class="fa fa-times-circle"></i></span>
    {% else %}
    <span title="expand" class="label status label-warning"><i class="fa fa-minus-circle"></i></span>
  {% endif %}
  </div>
{% endspaceless %}{% endmacro %}

{% macro temperature(temp) %}
  {% if temp < 21 %}
    <span class="label status label-info">{{ temp }}℃</span>
  {% elseif temp < 25 %}
    <span class="label status label-success">{{ temp }}℃</span>
  {% elseif temp < 28 %}
    <span class="label status label-warning">{{ temp }}℃</span>
  {% else %}
    <span class="label status label-danger">{{ temp }}℃</span>
  {% endif %}
{% endmacro %}
