{% extends 'MopaBootstrapBundle::base' ~ theme_type|default('')~ '.html.twig' %}
{% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}

{% block head_style %}
    {% stylesheets
        '@VIBSiteTemplateBundle/Resources/public/less/vibbasebundle.css.less'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}
{% endblock head_style %}

{% block title %}Laboratory of Neurogenetics{% endblock title %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="{{ path('default') }}">LNG FlyDB</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="first">
            <a href="{{ path('vib_flies_stock_list') }}">Stocks</a>
          </li>
          <li>
            <a href="{{ path('vib_flies_stockvial_list') }}">Stock vials</a>
          </li>
          <li>
            <a href="{{ path('vib_flies_crossvial_list') }}">Crosses</a>
          </li>
          <li class="dropdown last visible-desktop">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Vials <i class="caret"></i></a>
            <ul class="dropdown-menu menu_level_1">
              <li class="first">
                <a href="{{ path('vib_flies_vial_list') }}">My vials</a>
              </li>
              <li>
                <a href="{{ path('vib_flies_injectionvial_list') }}">My injections</a>
              </li>              
            </ul>
          </li>
          <li class="dropdown last visible-desktop">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tools <i class="caret"></i></a>
            <ul class="dropdown-menu menu_level_1">
              <li class="dropdown-submenu first">
                <a>New</a>
                <ul class="dropdown-menu menu_level_2">
                  <li class="first"><a href="{{ path('vib_flies_stock_create') }}">Stock</a></li>
                  <li><a href="{{ path('vib_flies_crossvial_create') }}">Cross</a></li>
                  <li><a href="{{ path('vib_flies_injectionvial_create') }}">Injection</a></li>
                  <li><a href="{{ path('vib_flies_rack_create') }}">Rack</a></li>
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a>Select</a>
                <ul class="dropdown-menu menu_level_2">
                  <li><a href="{{ path('vib_flies_vial_select') }}">Vials</a></li>
                  <li><a href="{{ path('vib_flies_stockvial_select') }}">Stock vials</a></li>
                  <li><a href="{{ path('vib_flies_crossvial_select') }}">Crosses</a></li>
                </ul>
              </li>
              <li class="last"><a href="{{ path('vib_flies_vial_expand') }}">Expand vial</a></li>
              {% render(controller("VIBFliesBundle:Incubator:menu")) %}
            </ul>
          </li>
        </ul>
        {% if app.user is not empty %}
        <ul class="nav pull-right user-menu">
          <li class="dropdown first last">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              {% if is_granted('ROLE_ADMIN') %}
                <span class="text-error">
              {% endif %}
              {{ app.user }}
              <i class="icon-user"></i>
              {% if is_granted('ROLE_ADMIN') %}
                </span>
              {% endif %}
            </a>
            <ul class="dropdown-menu menu_level_1 pull-right">
              <li class="first last"><a href="{{ path('logout') }}">Logout</a></li>
            </ul>
          </li>
        </ul>
        {% endif %}
        {% render(controller("VIBFliesBundle:Search:form")) %}
      </div>
    </div>
  </div>
</div>
{% endblock navbar %}

{% block container %}
<div class="{% block container_class %}container{% endblock container_class %}">
    {% block header %}
    {% endblock header %}
    <div class="content">
      <div class="row">
        {% block info_row %}
        <div class="span12">
          {% block flashes %}
          {% if app.session.flashbag.peekAll|length > 0 %}
              {{ session_flash(true) }}
          {% endif %}
          {% endblock flashes %}
          {% block msie_info %}
          {% render(controller("VIBSiteTemplateBundle:Messages:msie")) %}
          {% endblock msie_info %}
          {% block info_messages %}{% endblock info_messages %}
        </div>
        {% endblock info_row %}
        {% block header_row %}
        <div class="offset3 span9">
          {% block page_header %}
          <div class="page-header">
                <h1>{% block headline %}Welcome{% endblock headline %}</h1>
          </div>
          {% endblock page_header %}
        </div>
        {% endblock header_row %}
      </div>
      <div class="row">
        {% block main_row %}
        <div id="sidebar" class="span3">
          {% block content_sidebar %}
          {% endblock content_sidebar %}
          {% render(controller("VIBFliesBundle:Print:printPanel")) %}
        </div>
        <div class="span9">
          {% block content_row %}
          <div class="row-fluid">
              {% block content %}
                  {% block content_content %}
                  {% endblock content_content %}
              {% endblock content %}
          </div>
          {% endblock content_row %}
        </div>
        {% endblock main_row %}
      </div>
    </div>
    <footer>
    {% block footer %}
    {% endblock footer %}
    </footer>
</div>
{% endblock container %}

{% block foot_script %}
    {% javascripts
        '@BmatznerJQueryBundle/Resources/public/js/jquery.js'
        '@BmatznerJQueryUIBundle/Resources/public/js/jquery.ui.core.js'
        '@BmatznerJQueryUIBundle/Resources/public/js/jquery.ui.effect.js'
        '@BmatznerJQueryUIBundle/Resources/public/js/jquery.ui.effect-highlight.js'
        '@VIBFormsBundle/Resources/public/js/forms.js'
        '@VIBFliesBundle/Resources/public/js/forms.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-transition.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-modal.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-dropdown.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-scrollspy.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-tab.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-tooltip.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-popover.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-alert.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-button.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-collapse.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-carousel.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-typeahead.js'
        '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-collection.js'
        '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-subnav.js'
        '../vendor/eternicode/bootstrap-datepicker/js/bootstrap-datepicker.js'
         filter='?yui_js'
    %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
<script type="text/javascript">
  $('.date').datepicker();
</script>
<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
{% endblock foot_script %}
