{% import "VIBSiteTemplateBundle:Macros:list.html.twig" as l %}
{% import 'VIBSiteTemplateBundle:Macros:status.html.twig' as status %}

{% if checked is not defined %}
  {% if content.labelPrinted %}
    {% set checked = "" %}
  {% else %}
    {% set checked = "checked" %}
  {% endif %}
{% endif %}

{% if order is not defined or order is empty %}
  {% set order = entity.id %}
{% endif %}

<td><input type="checkbox" id="select_detail_items_{{ content.id }}" checked />
    {{ position.row }}{{ position.column }}</td>
<td>{{ l.link(content, 'vib_flies_vial_show', false, null, 'vial') }}</td>
<td>{% spaceless %}{% if content.type == 'stock' %}
      {{ l.link(content.stock, 'vib_flies_stock_show', true, null, 'stock') }}
    {% elseif content.type == 'cross' %}
      {{ l.link(content, 'vib_flies_crossvial_show', true, content.name, 'vial') }}
    {% elseif content.type == 'injection' %}
      {{ l.link(content, 'vib_flies_injectionvial_show', true, content.name, 'vial') }}
    {% endif %}{% endspaceless %}</td>
<td class="dates">
  <div>{{ content.setupDate | date("d‑m‑Y") }}</div>
  <div>{{ content.realFlipDate | date("d‑m‑Y") }}</div>
</td>
<td>{{ l.link(content.parent, 'vib_flies_vial_show', true, null, 'vial') }}</td>
<td>{{ status.vial(content) }}</td>
