{% set uuid = random() ~ '_' ~ content.id  %}

{% if order is not defined or order is empty %}
  {% set order = content.id %}
{% endif %}

<span class="popover-trigger" id="span_{{ uuid }}"
      data-placement="top" data-container="#span_{{ uuid }}"
      data-delay="500" data-link="{{ path('vib_flies_ajax_popover') }}"
      data-type="vial" data-id="{{ content.id }}" data-rack="{{ rackID }}">
  <a><input type="checkbox" id="select_items_{{ content.id }}"
     name="select[items][{{ order }}]"
     value="{{ content.id }}" checked />
  </a>
</span>
