{% extends "VIBFliesBundle:Vial:layout.html.twig" %}
{% import "VIBSiteTemplateBundle:Macros:list.html.twig" as l %}

{% if form is defined %}
  {% form_theme form _self %}
  {% block _select_items_row %}{% endblock %}
{% endif %}

{% block headline %}Rack {{ entity }} <small>{{ entity.name }}</small>{% endblock headline %}

{% block content %}
{% if form is defined %}
<form action="{{ app.request.requestUri }}" method="post" {{ form_enctype(form) }}>
{% endif %}
<div class="span12">
  {% block list_selector %}
    <div class="form-horizontal well">
      <div class="form-group row">
        <div class="input-group col-sm-4">
          <input id="barcode" class="barcode form-control" type="text" placeholder="Scan your barcodes here" value=""
            onchange="checkRackVial()" data-link="{{ path('vib_flies_ajax_rackvial')}}" />
          <span class="input-group-addon"><i class="fa fa-qrcode"></i></span>
        </div>
        <div class="col-sm-8">
          <span class="help-block"></span>
        </div>
      </div>
    </div>
  {% endblock list_selector %}
  <table class="table table-bordered table-condensed rack-display table-curved" id="rack_{{ entity.id }}">
    <tbody>
      <tr>
        <th><input type="checkbox" id="checkall" checked/></th>
      {% for i in 1..entity.columns %}
        <th>
          {{ entity.position(1,i).column }}
        </th>
      {% endfor %}
      </tr>
    {% set first = true %}
    {% set order = 0 %}
    {% for i in 1..entity.rows %}
      <tr>
        <th>
          {{ entity.position(i,1).row }}
          <input type="checkbox" class="checkrow" checked/>
        </th>
        {% for j in 1..entity.columns %}
          {% if entity.position(i,j).isEmpty %}
            {% if first == true %}
              {% set first = false %}
              <td id="position_{{ entity.position(i,j).id }}" class="empty info"></td>
            {% else %}
              <td id="position_{{ entity.position(i,j).id }}" class="empty"></td>
            {% endif %}
          {% else %}
            {% set content = entity.position(i,j).content %}
            <td id="position_{{ entity.position(i,j).id }}" class="success">
              {% include 'VIBFliesBundle:Rack:position.html.twig' with {'content': content, 'rackID': entity.id, 'order': order} %}
              {% set order = order + 1 %}
            </td>
          {% endif %}
        {% endfor %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% block list_buttons %}
    {{ l.select_buttons() }}
    <div class="btn-group pull-right">
      <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
        Rack actions
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li class="first">
          <a href="{{ path('vib_flies_rack_printlabel', { 'id': entity.id }) }}">Print label</a>
        </li>
        <li>
          <a href="{{ path('vib_flies_rack_downloadlabel', { 'id': entity.id }) }}">Download PDF</a>
        </li>
        <li class="divider"></li>
        {% if is_granted('ROLE_ADMIN') or is_granted('EDIT',entity) %}
        <li>
          <a href="{{ path('vib_flies_rack_edit', { 'id': entity.id }) }}">Edit</a>
        </li>
        {% endif %}
        <li class="last"onclick="clearRack(this,{{ entity.id }})"
            data-link="{{ path('vib_flies_ajax_rackvialremove') }}">
          <a href="#">Clear contents</a>
        </li>
      </ul>
    </div>
    {{ l.incubate_button() }}
  {% endblock list_buttons %}
  {% block paginator %}
    {% if entities is defined %}{{ knp_pagination_render(entities) }}{% endif %}
  {% endblock paginator %}
</div>
{% if form is defined %}
{{ form_errors(form) }}
{{ form_rest(form) }}
</form>
{% endif %}
{% endblock %}
