{% extends 'MopaBootstrapBundle::base' ~ theme_type|default('')~ '.html.twig' %}

{% block head_style %}
    {% stylesheets
        '@VIBBaseBundle/Resources/public/less/vibbasebundle.less'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}
{% endblock head_style %}

{% block title %}Laboratory of Neurogenetics{% endblock title %}
    
{% block navbar %}
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="{{ path('default') }}">LNG FlyDB</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="first dropdown dropdown-split">
            <a href="{{ path('vib_flies_stock_list') }}" class="dropdown-toggle">Stocks</a>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="caret"></i></a>
            <ul class="dropdown-menu menu_level_1">
              <li class="first last"><a href="{{ path('vib_flies_stock_create') }}">New</a></li>
            </ul>
          </li>
          <li class="dropdown dropdown-split">
            <a href="{{ path('vib_flies_stockvial_list') }}" class="dropdown-toggle">Stock vials</a>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="caret"></i></a>
            <ul class="dropdown-menu menu_level_1">
              <li class="first"><a href="{{ path('vib_flies_stockvial_select') }}">Select</a></li>
              <li class="last"><a href="{{ path('vib_flies_stockvial_expand') }}">Expand</a></li>
            </ul>
          </li>
          <li class="dropdown dropdown-split">
            <a href="{{ path('vib_flies_crossvial_list') }}" class="dropdown-toggle">Crosses</a>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="caret"></i></a>
            <ul class="dropdown-menu menu_level_1">
              <li class="first"><a href="{{ path('vib_flies_crossvial_create') }}">New</a></li>
              <li class="last"><a href="{{ path('vib_flies_crossvial_select') }}">Select</a></li>
            </ul>
          </li>
          <li class="dropdown dropdown-split">
            <a href="{{ path('vib_flies_vial_list') }}" class="dropdown-toggle">Vials</a>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="caret"></i></a>
            <ul class="dropdown-menu menu_level_1">
              <li class="first"><a href="{{ path('vib_flies_vial_select') }}">Select</a></li>
              <li class="last"><a href="{{ path('vib_flies_vial_expand') }}">Expand</a></li>
            </ul>
          </li>
        </ul>
        <form class="navbar-form form-search pull-right">
          <div class="input-append">
            <input type="text" placeholder="Search" class="span search-query">
            <div class="btn-group">
              <button class="btn"><i class="icon-search"></i></button>
              <button class="btn dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu pull-right">
                <li><a href="#">Search stocks</a></li>
                <li><a href="#">Search crosses</a></li>
              </ul>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock navbar %}

{% block footer %}
{% endblock footer %}

{% block foot_script %}
    {% javascripts
        '@BmatznerJQueryBundle/Resources/public/js/jquery.js'
        '@BmatznerJQueryUIBundle/Resources/public/js/jquery.ui.core.js'
        '@BmatznerJQueryUIBundle/Resources/public/js/jquery.ui.effect.js'
        '@BmatznerJQueryUIBundle/Resources/public/js/jquery.ui.effect-highlight.js'
        '@VIBFormsBundle/Resources/public/js/forms.js'
        '@VIBFliesBundle/Resources/public/js/forms.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-transition.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-modal.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-dropdown.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-scrollspy.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-tab.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-tooltip.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-popover.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-alert.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-button.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-collapse.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-carousel.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-typeahead.js'
        '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-collection.js'
        '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-subnav.js'
        '../vendor/eternicode/bootstrap-datepicker/js/bootstrap-datepicker.js'
         filter='?yui_js'
    %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock foot_script %}
