{% macro link(entity, route, verify = true, nameField, popover) %}{% spaceless %}
{% if nameField is not empty and entity is not empty%}
  {% set name = attribute(entity,nameField) %}{% else %}{% set name = entity %}
{% endif %}
{% if verify %}
  {% if entity is not empty %}
    {% if is_granted('ROLE_ADMIN') or is_granted('VIEW',entity) %}
      {% if popover is not empty %}
        {% set uuid = random() ~ '_' ~ entity.id  %}
        <span class="popover-trigger" id="span_{{ uuid }}"
              data-placement="bottom" data-container="#span_{{ uuid }}"
              data-delay="500" data-link="{{ path('vib_flies_ajax_popover')}}"
              data-type="{{ popover }}" data-id="{{ entity.id }}">
      {% endif %}
      <a href="{{ path(route, { 'id': entity.id }) }}">{{ name }}</a>
      {% if popover is not empty %}
        </span>
      {% endif %}
    {% else %}{{ name }}{% endif %}
  {% endif %}
{% else %}
  {% if popover is not empty %}
    {% set uuid = random() ~ '_' ~ entity.id  %}
    <span class="popover-trigger" id="span_{{ uuid }}"
          data-placement="bottom" data-container="#span_{{ uuid }}"
          data-delay="500" data-link="{{ path('vib_flies_ajax_popover')}}"
          data-type="{{ popover }}" data-id="{{ entity.id }}">
  {% endif %}
  <a href="{{ path(route, { 'id': entity.id }) }}">{{ name }}</a>
  {% if popover is not empty %}
    </span>
  {% endif %}
{% endif %}
{% endspaceless %}{% endmacro %}

{% macro select_buttons() %}{% spaceless %}
  {{ _self.flip_button() }}
  {{ _self.trash_button() }}
  {{ _self.print_button() }}
{% endspaceless %}{% endmacro %}

{% macro flip_button() %}{% spaceless %}
<div class="btn-group">
  <button class="btn btn-primary" onclick="$('#select_action').val('flip'); $('form').submit();">
    Flip
  </button>
  <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li class="first">
      <a href="#" onclick="$('#select_action').val('flip'); $('form').submit();"><b>Flip</b></a>
    </li>
    <li class="last">
      <a href="#" onclick="$('#select_action').val('fliptrash'); $('form').submit();">Flip & trash</a>
    </li>
  </ul>
</div>
{% endspaceless %}{% endmacro %}

{% macro trash_button() %}{% spaceless %}
<div class="btn-group">
  <button class="btn btn-danger" onclick="$('#select_action').val('trash'); $('form').submit();">
    Trash
  </button>
  <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li class="first">
      <a href="#" onclick="$('#select_action').val('trash'); $('form').submit();"><b>Trash</b></a>
    </li>
    <li class="last">
      <a href="#" onclick="$('#select_action').val('untrash'); $('form').submit();">Untrash</a>
    </li>
  </ul>
</div>
{% endspaceless %}{% endmacro %}

{% macro print_button() %}{% spaceless %}
{% if can_print() %}
<div class="btn-group">
  <button class="btn" onclick="$('#select_action').val('print'); $('form').submit();">
    Print labels
  </button>
  <button class="btn dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li class="first">
      <a href="#" onclick="$('#select_action').val('print'); $('form').submit();"><b>Print</b></a>
    </li>
    <li class="last">
      <a href="#" onclick="$('#select_action').val('label'); $('form').submit();">Download PDF</a>
    </li>
  </ul>
</div>
{% else %}
  <button class="btn" onclick="$('#select_action').val('label'); $('form').submit();">
    Download label PDF
  </button>
{% endif %}
{% endspaceless %}{% endmacro %}

{% macro incubate_button() %}
  {% render "VIBFliesBundle:Incubator:incubate" %}
{% endmacro incubate_button %}
