{% macro link(entity, route, verify = true, nameField, popover) %}{% spaceless %}
{% if nameField is not empty and entity is not empty%}
  {% set name = attribute(entity,nameField) %}{% else %}{% set name = entity %}
{% endif %}
{% if verify %}
  {% if entity is not empty %}
    {% if is_granted('ROLE_ADMIN') or is_granted('VIEW',entity) %}
      {% if popover is not empty %}
        {% set uuid = random() ~ '_' ~ entity.id  %}
        <span class="popover-trigger" id="span_{{ uuid }}"
              data-placement="bottom" data-container="#span_{{ uuid }}"
              data-delay="500" data-link="{{ path('vib_flies_ajax_popover')}}"
              data-type="{{ popover }}" data-id="{{ entity.id }}">
      {% endif %}
      <a href="{{ path(route, { 'id': entity.id }) }}">{{ name }}</a>
      {% if popover is not empty %}
        </span>
      {% endif %}
    {% else %}{{ name }}{% endif %}
  {% endif %}
{% else %}
  <a href="{{ path(route, { 'id': entity.id }) }}">{{ name }}</a>
{% endif %}
{% endspaceless %}{% endmacro %}

{% macro vialStatus(vial) %}{% spaceless %}
  {% if vial.trashed %}
    <span class="label label-inverse">TRASHED</span>
  {% elseif vial.alive %}
    <span class="label label-success">ALIVE</span>
  {% else %}
    <span class="label label-important">DEAD</span>
  {% endif %}
{% endspaceless %}{% endmacro %}

{% macro stockStatus(stock) %}{% spaceless %}
  {% if stock.livingVials | length > 3 %}
    <span class="label label-success">AMPLIFIED</span>
    {% elseif stock.livingVials | length > 1 %}
    <span class="label label-success">HEALTHY</span>
    {% elseif stock.livingVials | length < 1 %}
    <span class="label label-important">DEAD</span>
    {% else %}
    <span class="label label-warning">EXPAND</span>
  {% endif %}
{% endspaceless %}{% endmacro %}

{% macro select_buttons() %}
<div class="btn-group">
  <button type="submit" class="btn btn-primary" onclick="$('#select_action').val('flip'); $('form').submit();">
    Flip
  </button>
  <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li class="first">
      <a href="#" onclick="$('#select_action').val('flip'); $('form').submit();"><b>Flip</b></a>
    </li>
    <li class="last">
      <a href="#" onclick="$('#select_action').val('fliptrash'); $('form').submit();">Flip & trash</a>
    </li>
  </ul>
</div>
<button type="submit" class="btn btn-danger" onclick="$('#select_action').val('trash'); $('form').submit();">
  Trash</button>
{% if can_print() %}
<div class="btn-group">
  <button type="submit" class="btn" onclick="$('#select_action').val('print'); $('form').submit();">
    Print labels
  </button>
  <button class="btn dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li class="first">
      <a href="#" onclick="$('#select_action').val('print'); $('form').submit();"><b>Print</b></a>
    </li>
    <li class="last">
      <a href="#" onclick="$('#select_action').val('label'); $('form').submit();">Download PDF</a>
    </li>
  </ul>
</div>
{% else %}
  <button type="submit" class="btn" onclick="$('#select_action').val('label'); $('form').submit();">
    Download labels
  </button>
{% endif %}
{% endmacro select_buttons %}
