{% macro link(entity, route, verify = true, nameField, popover) %}{% spaceless %}
{% if nameField is not empty and entity is not empty%}
  {% set name = attribute(entity,nameField) %}{% else %}{% set name = entity %}
{% endif %}
{% if verify %}
  {% if entity is not empty %}
    {% if is_granted('ROLE_ADMIN') or is_granted('VIEW',entity) %}
      <a href="{{ path(route, { 'id': entity.id }) }}"
        {% if popover is not empty %}
          class="popover-trigger" data-link="{{ path('vib_flies_ajax_popover')}}" data-type="{{ popover }}" data-id="{{ entity.id }}"
        {% endif %}
      >{{ name }}</a>
    {% else %}{{ name }}{% endif %}
  {% endif %}
{% else %}
  <a href="{{ path(route, { 'id': entity.id }) }}">{{ name }}</a>
{% endif %}
{% endspaceless %}{% endmacro %}

{% macro vialStatus(vial) %}{% spaceless %}
  {% if vial.trashed %}
    <span class="label label-inverse">TRASHED</span>
  {% elseif vial.alive %}
    <span class="label label-success">ALIVE</span>
  {% else %}
    <span class="label label-important">DEAD</span>
  {% endif %}
{% endspaceless %}{% endmacro %}

{% macro stockStatus(stock) %}{% spaceless %}
  {% if stock.livingVials | length > 3 %}
    <span class="label label-success">AMPLIFIED</span>
    {% elseif stock.livingVials | length > 1 %}
    <span class="label label-success">HEALTHY</span>
    {% elseif stock.livingVials | length < 1 %}
    <span class="label label-important">DEAD</span>
    {% else %}
    <span class="label label-warning">EXPAND</span>
  {% endif %}
{% endspaceless %}{% endmacro %}

{% macro select_buttons() %}
<div class="well">
  <button type="submit" class="btn btn-primary" onclick="$('#select_action').val('flip'); $('form').submit();">
    Flip</button>
  <button type="submit" class="btn btn-danger" onclick="$('#select_action').val('trash'); $('form').submit();">
    Trash</button>
  <div class="btn-group">
    <button type="submit" class="btn" onclick="$('#select_action').val('label'); $('form').submit();">
      Print labels
    </button>
    <button class="btn dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li class="first last">
        <a href="#" onclick="$('#select_action').val('label'); $('form').submit();">Download PDF</a>
      </li>
      <li class="first last">
        <a href="#" onclick="$('#select_action').val('print'); $('form').submit();">Print PDF</a>
      </li>
    </ul>
  </div>
</div>
{% endmacro select_buttons %}
