{% macro row(label, value, ctrl, name, popover) %}
<div class="control-group">
  <span class="control-label">{{ label }}</span>
  <div class="controls">
    <span class="input-text">{% spaceless %}
        {% if value is not empty %}
          {% set showName = (name is not empty or (value.name is defined and value.name != value.__toString)) %}
          {% if name is empty and value.name is defined %}{% set name = value.name %}{% endif %}
          {% if showName %}{{ name }} ({% endif %}{% spaceless %}
          {% if ctrl is not empty and (is_granted('ROLE_ADMIN') or is_granted('VIEW',value)) %}
            {% if popover is not empty %}
              {% set uuid = random() ~ '_' ~ value.id  %}
              <span class="popover-trigger" id="span_{{ uuid }}"
                    data-placement="bottom" data-container="#span_{{ uuid }}"
                    data-delay="500" data-link="{{ path('vib_flies_ajax_popover')}}"
                    data-type="{{ popover }}" data-id="{{ value.id }}">
            {% endif %}
            <a href="{{ path(ctrl, { 'id': value.id }) }}">{{ value }}</a>
            {% if popover is not empty %}
              </span>
            {% endif %}
          {% else %}{{ value }}{% endif %}
          {% endspaceless %}{% if showName %}){% endif %}
        {% endif %}
    {% endspaceless %}</span>
  </div>
</div>
{% endmacro %}

{% macro list(label, values, ctrl, name, popover) %}
<div class="control-group">
  <span class="control-label">{{ label }}</span>
  <div class="controls">
    <ul class="unstyled input-text">
    {% for item in values %}
      <li>{% spaceless %}
        {% set showName = (name is not empty or (value.name is defined and value.name != value.__toString)) %}
        {% if showName %}{{ name }} ({% endif %}{% spaceless %}
        {% if ctrl is not empty and (is_granted('ROLE_ADMIN') or is_granted('VIEW',item)) %}
          {% if popover is not empty %}
            {% set uuid = random() ~ '_' ~ item.id  %}
            <span class="popover-trigger" id="span_{{ uuid }}"
                  data-placement="bottom" data-container="#span_{{ uuid }}"
                  data-delay="500" data-link="{{ path('vib_flies_ajax_popover')}}"
                  data-type="{{ popover }}" data-id="{{ item.id }}">
          {% endif %}
          <a href="{{ path(ctrl, { 'id': item.id }) }}">{{ item }}</a>
          {% if popover is not empty %}
            </span>
          {% endif %}
        {% else %}{{ item }}{% endif %}
        {% endspaceless %}{% if showName %}){% endif %}
      {% endspaceless %}</li>
    {% endfor %}
    </ul>
  </div>
</div>
{% endmacro %}

{% macro user(label, user) %}
<div class="control-group">
  <span class="control-label">{{ label }}</span>
  <div class="controls">
    <span class="input-text">{% spaceless %}
        {% if user is not empty %}
          {% if user.email | default(null) is not empty %}
            <a href="mailto: {{ user.email }}">{{ user.fullName }}</a>
          {% else %}
            {{ user.fullName }}
          {% endif %}
        {% endif %}
    {% endspaceless %}</span>
  </div>
</div>
{% endmacro %}

{% macro buttons(value, name) %}
{% if is_granted('ROLE_ADMIN') or is_granted('EDIT',value) %} 
  <a href="{{ path(name ~ '_edit', { 'id': value.id }) }}" class="btn btn-primary">Edit</a>
{% endif %}
{% if is_granted('ROLE_ADMIN') or is_granted('DELETE',value) %} 
  <a href="{{ path(name ~ '_delete', { 'id': value.id }) }}" class="btn btn-danger">Delete</a>
{% endif %}
  <a href="{{ path(name ~ '_list') }}" class="btn">List</a>
{% endmacro %}
