{% extends "VIBFliesBundle::layout.html.twig" %}

{% block headline %}Vials{% endblock headline %}

{% block content_sidebar %}
<ul class="nav nav-list well">
  <li class="nav-header">My vials</li>
  <li><a href="{{ path('vib_flies_vial_list') }}">Alive</a></li>
  <li><a href="{{ path('vib_flies_vial_list_1',{ 'filter': 'trashed' }) }}">Trashed vials</a></li>
  <li><a href="{{ path('vib_flies_vial_list_1',{ 'filter': 'dead' }) }}">Dead vials</a></li>
  <li class="nav-header">Public vials</li>
  <li><a href="{{ path('vib_flies_vial_list_1',{ 'filter': 'public' }) }}">Alive</a></li>
  <li><a href="{{ path('vib_flies_vial_list_1',{ 'filter': 'all' }) }}">All</a></li>
  <li class="nav-header">Actions</li>
  <li><a href="{{ path('vib_flies_vial_select') }}">Select vials</a></li>
  <li><a href="{{ path('vib_flies_vial_expand') }}">Expand vial</a></li>
  <li><a href="{{ path('vib_flies_vial_give') }}">Give vial</a></li>
</ul>
{{ parent() }}
{% endblock content_sidebar %}
