{% extends "VIBBaseBundle:List:table.html.twig" %}

{% form_theme form _self %} 

{% block _select_items_row %}{% endblock %}

{% block headline %}Vials{% endblock headline %}

{% block list_selector %}
  {{ form_errors(form) }}
  {{ form_rest(form) }}
{% endblock list_selector %}

{% block list_header %}
  <th style="width: 12px;"><input type="checkbox" id="checkall" checked="checked"></th>
  <th style="width: 100px;">ID</th>
  <th>Contents</th>
  <th style="width: 150px;">Setup date</th>
  <th style="width: 150px;">Flip date</th>
  <th style="width: 100px;">Flipped from</th>
  <th style="width: 100px;">Status</th>
{% endblock list_header %}

{% block list_item %}
  <td><input type="checkbox" id="select_items_{{ entity.id }}" 
             name="select[items][{{ entity.id }}]" 
             value="{{ entity.id }}" checked="checked" /></td>
  <td><a href="{{ path('vib_flies_vial_show', { 'id': entity.id }) }}">
      {{ entity }}</a></td>
  <td>{% if entity.type == 'stock' and entity.stock is not empty %}
      <a href="{{ path('vib_flies_stock_show', { 'id': entity.stock.id }) }}">{{ entity.stock }}</a>
      {% elseif entity.type == 'cross' %}
      <a href="{{ path('vib_flies_crossvial_show', { 'id': entity.id }) }}">{{ entity.crossName }}</a>
      {% endif %}
  </td>
  <td>{{ entity.setupDate | date("d F Y") }}</td>
  <td>{{ entity.flipDate | date("d F Y") }}</td>
  <td>{% if entity.parent is not empty %}
      <a href="{{ path('vib_flies_vial_show', { 'id': entity.parent.id }) }}">
      {{ entity.parent }}</a>
      {% endif %}</td>
  <td>{% if entity.trashed %}
      <span class="label label-inverse">TRASHED</span>
      {% elseif entity.alive %}
      <span class="label label-success">ALIVE</span>
      {% else %}
      <span class="label label-important">DEAD</span>
      {% endif %}</td>
{% endblock list_item %}

{% block list_buttons %}
  <a href="{{ path('vib_flies_vial_expand') }}" class="btn">Expand</a>
  <a href="#" class="btn">Select</a>
  <button type="submit" class="btn" onclick="$('#select_action').val('flip'); $('form').submit();">
    Flip</button>
  <button type="submit" class="btn" onclick="$('#select_action').val('trash'); $('form').submit();">
    Trash</button>
  <button type="submit" class="btn" onclick="$('#select_action').val('label'); $('form').submit();">
    Print labels</button>
{% endblock list_buttons %}
