<form id="search-form" action="{{ realm ~ path('_search_result') }}" method="post" {{ form_enctype(form) }} class="navbar-form navbar-right" style="width:25%">
  <div class="form-group">
    <div class="input-group">
      {{ form_widget(form.query) }}
      <div class="input-group-btn">
        <button class="btn btn-default" onclick="$('#search-form').submit();">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
  </div>
  {{ form_rest(form) }}
</form>
{% form_theme form _self %}
{% block form_widget_compound %}{{ form_rest(form) }}{% endblock form_widget_compound %}
{% block form_row %}{{ form_widget(form) }}{% endblock %}
