<form action="{{ app.request.requestUri }}"
      method="post" {{ form_enctype(form) }}>

    {{ form_errors(form) }}

    {{ form_row(form.setupDate) }}
    {{ form_row(form.flipDate) }}
    {{ form_row(form.parent) }}
    {{ form_row(form.stock) }}
    {{ form_row(form.cross) }}

    {{ form_rest(form) }}

    <input type="submit" />
</form>
