{% import 'VIBFliesBundle:Macros:form.html.twig' as f %}
{% import 'VIBFliesBundle:Macros:jquery.html.twig' as jq %}

<form action="{{ app.request.requestUri }}"
      method="post" {{ form_enctype(form) }}>

    {{ form_errors(form) }}

    <table class="data">
        {{ f.tr_row(form.setupDate) }}
        {{ f.tr_row(form.flipDate) }}
        {{ f.tr_vrow(form.parent, vial.parent, 'getVial(this)') }}
        {{ f.tr_vrow(form.stock, vial.stock, 'getVial(this)') }}
        {{ f.tr_vrow(form.cross, vial.cross, 'getVial(this)') }}
    </table>
    
    {{ form_rest(form) }}

    {{ jq.button('Cancel',path('flyvial_show', { 'id': vial.id }),'ui-icon-closethick') }}
    {{ jq.button('Reset',app.request.requestUri,'ui-icon-refresh') }}
    {{ jq.submit_button('Save','ui-icon-disk') }}
</form>
