{% extends "VIBFliesBundle::layout.html.twig" %}
{% import 'VIBFliesBundle:Macros:form.html.twig' as f %}
{% import 'VIBFliesBundle:Macros:jquery.html.twig' as jq %}


{% block content %}
    <h1>
        Expand stock
        {% spaceless %}
        <span id="v_ajax_FlyVialExpandType_source_header">
        {% if source is not null %}
            {% if source.stock is not null %}
                {{ source.stock.name }}
            {% endif %}
        {% endif %}
        </span>
        {% endspaceless %}
    </h1>

    <form action="{{ app.request.requestUri }}"
          method="post" {{ form_enctype(form) }}>

        <table class="data">
            {{ f.tr_vrow(form.source, source, 'getVial(this)') }}
            {{ f.tr_nrow(form.number) }}
        </table>

        {{ form_rest(form) }}

        {% if source is not null %}
            {{ jq.button('Cancel',path('flyvial_show', { 'id': source.id }),'ui-icon-closethick') }}
        {% else %}
            {{ jq.button('Cancel',path('flyvial_list'),'ui-icon-closethick') }}
        {% endif %}
        {{ jq.button('Reset',app.request.requestUri,'ui-icon-refresh') }}
        {{ jq.submit_button('Save','ui-icon-disk') }}
    </form>
{% endblock %}
