<tr>
    <td>
        <input type="checkbox" id="FlyVialSelectType_items_{{ vial.id }}" 
               name="FlyVialSelectType[items][{{ vial.id }}]" 
               value="{{ vial.id }}" checked="checked" />
    </td>
    <td>{{ vial.name }}</td>
    <td>{{ vial.stock.name }}</td>
    <td></td>
    <td>{{ vial.setupDate | date("d.m.Y") }}</td>
    <td>{{ vial.flipDate | date("d.m.Y") }}</td>
</tr>