{% extends "VIBBaseBundle::layout.html.twig" %}

{% block headline %}Stock vials{% endblock headline %}
{% block content %}
<div class="span12">
    <table id="vials" class="table table-striped table-bordered table-condensed">
        <thead>
            <tr class="inverse">
                <th style="width: 12px;"><input type="checkbox" id="checkall" checked="checked"></th>
                <th style="width: 100px;">ID</th>
                <th>Stock</th>
                <th style="width: 150px;">Setup date</th>
                <th style="width: 150px;">Flip date</th>
                <th style="width: 100px;">Flipped from</th>
                <th style="width: 100px;">Status</th>
            </tr>
        </thead>
        <tbody>
        {% for vial in vials %}
            <tr>
                <td>
                    <input type="checkbox" id="FlyVialSelectType_items_{{ vial.id }}" 
                           name="FlyVialSelectType[items][{{ vial.id }}]" 
                           value="{{ vial.id }}" checked="checked" />
                </td>
                <td>
                    <a href="{{ path('flyvial_show', { 'id': vial.routableId }) }}">
                    {{ vial }}</a></td>
                <td>{% if vial.stock is not empty %}
                    <a href="{{ path('flystock_show', { 'id': vial.stock.routableId }) }}">{{ vial.stock }}</a>
                    {% endif %}</td>
                <td>{{ vial.setupDate | date("d F Y") }}</td>
                <td>{{ vial.flipDate | date("d F Y") }}</td>
                <td>{% if vial.parent is not empty %}
                    <a href="{{ path('flyvial_show', { 'id': vial.parent.routableId }) }}">
                    {{ vial.parent }}
                    </a>
                    {% endif %}</td>
                <td>{% if vial.trashed %}
                    <span class="label label-inverse">TRASHED</span>
                    {% elseif vial.alive %}
                    <span class="label label-success">ALIVE</span>
                    {% else %}
                    <span class="label label-important">DEAD</span>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
