{% extends "VIBFliesBundle::layout.html.twig" %}

{% block content %}
<h1>{{ header }}</h1>

    <label>To select vials, scan barcodes here: </label>
    <input id="barcode" type="text" value="" onchange="checkVial()" />
    <br /><br />
    <form action="{{ app.request.requestUri }}"
          method="post" {{ form_enctype(form) }}>
        {% if form.items | length < 1 %}
            {{ form_widget(form.items) }}
        {% endif %}
        <table id="vials">
            <thead>
                <tr>
                    <th></th>
                    <th>ID</th>
                    <th>Stock</th>
                    <th>Cross</th>
                    <th>Setup date</th>
                    <th>Flip date</th>
                </tr>
            </thead>
            <tbody id="items">
            {% set index = 0 %}
            {% for item in form.items %}
                {% set vial = list.items[index] %}
                <tr>
                    <td>{{ form_widget(item) }}</td>
                    <td>{{ vial.name }}</td>
                    <td>{{ vial.stock }}</td>
                    <td>{{ vial.cross }}</td>
                    <td>{{ vial.setupDate | date("d.m.Y") }}</td>
                    <td>{{ vial.flipDate | date("d.m.Y") }}</td>
                </tr>
                {% set index = index + 1 %}
            {% endfor %}
            </tbody>
        </table>
        
        {{ form_errors(form) }}
        {{ form_rest(form) }}
        
        <input type="submit" />
        
    </form>
    
{% endblock %}