{% extends "VIBFliesBundle::layout.html.twig" %}
{% import 'VIBFliesBundle:Macros:jquery.html.twig' as jq %}

{% block content %}
    <h1>Vial {{ vial }}</h1>

    <table class="data">
        <tr>
            <th>Setup date:</th>
            <td>{{ vial.setupDate | date("d M Y") }}</td>
        </tr>
        <tr>
            <th>Flip date:</th>
            <td>{{ vial.flipDate | date("d M Y") }}</td>
        </tr>
        {% if vial.parent is not empty %}
        <tr>
            <th>Flipped from:</th>
            <td>
                <a href="{{ path('flyvial_show', { 'id': vial.parent.id }) }}">{{ vial.parent }}</a>
            </td>
        </tr>
        {% endif %}
        {% if vial.stock is not empty %}
        <tr>
            <th>Stock:</th>
            <td>
                <a href="{{ path('flystock_show', { 'id': vial.stock.id }) }}">{{ vial.stock }}</a>
            </td>
        </tr>
        {% endif %}
        {% if vial.cross is not empty %}
        <tr>
            <th>Cross:</th>
            <td>
                <a href="{{ path('flycross_show', { 'id': vial.cross.id }) }}">{{ vial.cross }}</a>
            </td>
        </tr>
        {% endif %}
        {% if vial.children | length > 0 %}
        <tr>
            <th>Flipped to:</th>
            <td><ul>
            {% for child in vial.children %}
                <li>
                    <a href="{{ path('flyvial_show', { 'id': child.id }) }}">{{ child }}</a>
                    ({{ child.setupDate | date("d M Y") }})
                </li>
            {% endfor %}
            </ul></td>
        </tr>
        {% endif %}
    </table>

    {% if vial.stock is not empty %}
        {{ jq.button('List',path('flyvial_listfilter', { 'filter': 'stock' }),'ui-icon-folder-collapsed') }}
    {% elseif vial.cross is not empty %}
        {{ jq.button('List',path('flyvial_listfilter', { 'filter': 'cross' }),'ui-icon-folder-collapsed') }}
    {% else %}
        {{ jq.button('List',path('flyvial_listfilter', { 'filter': 'all' }),'ui-icon-folder-collapsed') }}
    {% endif %}
    
    {{ jq.button('New',path('flyvial_create'),'ui-icon-document') }}
    {{ jq.button('Edit',path('flyvial_edit', { 'id': vial.id }),'ui-icon-pencil') }}
    {{ jq.button('Delete',path('flyvial_delete', { 'id': vial.id }),'ui-icon-trash') }}
{% endblock %}
