{% extends "VIBFliesBundle::layout.html.twig" %}
{% import 'VIBFliesBundle:Macros:jquery.html.twig' as jq %}
{% import 'VIBFliesBundle:Macros:show.html.twig' as s %}

{% block content %}
    <h1>Vial {{ vial }}</h1>

    <table class="data">
        {{ s.tr_row("Setup date:", vial.setupDate | date("d M Y")) }}
        {{ s.tr_row("Flip date:", vial.flipDate | date("d M Y")) }}
        {{ s.tr_arow("Flipped from:", vial.parent, 'flyvial_show') }}
        {{ s.tr_arow("Stock:", vial.stock, 'flystock_show') }}
        {{ s.tr_lrow("Flipped to:", vial.children, 'flyvial_show')}}
    </table>

    {% if vial.stock is not empty %}
        {{ jq.button('List',path('flyvial_list'),'ui-icon-folder-collapsed') }}
    {% elseif vial.cross is not empty %}
        {{ jq.button('List',path('flyvial_list'),'ui-icon-folder-collapsed') }}
    {% else %}
        {{ jq.button('List',path('flyvial_list'),'ui-icon-folder-collapsed') }}
    {% endif %}
    
    {{ jq.button('New',path('flyvial_create'),'ui-icon-document') }}
    {{ jq.button('Expand',path('flyvial_expand_id', { 'id': vial.id }),'ui-icon-copy') }}
    {{ jq.button('Edit',path('flyvial_edit', { 'id': vial.id }),'ui-icon-pencil') }}
    {{ jq.button('Delete',path('flyvial_delete', { 'id': vial.id }),'ui-icon-trash') }}
{% endblock %}
